html {
    font-size: 62.5%;
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* css of my header section */

header {
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
}

.head {
    display: flex;
}

.inf {
    display: flex;
    flex-direction: column;
}
.head img {
    height: 6rem;
    width: auto;
    margin: 1rem;
    padding: 0;

}
.head h1 {
    margin: 0.5rem;
    color: darkblue;
    font-size: 4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.head p {
    margin: 0.5rem;
    color: black;
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    display: flex;
    justify-content: center;
    background-color:blueviolet;
    padding: 0;
    width: 100%;
    border-radius: 0.5rem;
}

.box {
    display: flex;
    flex-direction: column;


}
.box a {
    color: #fff;
    text-decoration: none;
    margin: 0.5rem 3rem;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navcolor {
    background-color: aqua;
    height: 0.5rem;
    width: 8.5rem;
    margin: auto;
    border-radius: 0.5rem;
    visibility: hidden;
}

.box:hover > a{
    cursor: pointer;
    color:aqua;
    transition: all;
    animation-duration: 200ms;
    position: relative;
}

.box:hover > .navcolor {
    visibility: visible;
    transition: all;
    transition-delay: 10ms;
    animation-duration: 200ms;
}

/* css of my about section */

#about {
    padding: 1.5rem;
    margin-top: 17rem;
    width:100%;
}

#about h2 {
    color: black;
    margin-bottom: 5rem;
    text-align:center;
    font-size: 5rem;
}
.edu {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height:50rem;
    width: 100%;
}
#about img {
    height:50rem;
    width: 35rem;
    border-radius: 2rem;
    margin-right: 10rem;
}

.container {
    width: 40rem;
    height: 50rem;
    perspective: 80rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20rem;
}

.container:hover > .card {
    cursor: pointer;
    transform: rotateY(180deg);
}

.card {
    height: 90%;
    width: 80%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}

.front, .back {
    height: 100%;
    width: 100%;
    padding: 3rem;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    background: linear-gradient(180deg, rgba(204,13,222,1) 27%, rgba(0,245,255,1) 100%);
    position: absolute;
    backface-visibility: hidden;
}

.front p {
    font-size: 1.7rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.back {
    background-color: #3a3a3a;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.back p {
    font-size: 1.7rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* css of my skills section */

#skills {
    background-color: #96EFFF;
    height: 80rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2rem;
    margin-top: 5rem;
    padding: 8rem;
}

#skills h2 {
    color: black;
    margin-bottom: 5rem;
    text-align:center;
    font-size: 5rem;
}

.radial-bars {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.radial-bars .radial-bar {
    width: 50%;
    height: 17rem;
    margin-bottom: 10rem;
    position: relative;
}

.radial-bars .radial-bar svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-90deg);
    width: 120rem;
    height: 20rem;
}

.radial-bars .radial-bar .progress-bar {
    stroke-width: 10;
    stroke: black; 
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 0; 
    stroke-linecap: round;
    transition: stroke-dashoffset 1s ease;
    animation: animate-bar is linear forwards;
}

@keyframes animate-bar {
    100%{
    stroke-dashoffset: -1;
}
}

.path {
    stroke-width: 8;
    stroke:fuchsia;
    fill: transparent;
    stroke-dashoffset: 502;
    stroke-dasharray: 502;
    stroke-linecap: round;
    transition: stroke-dashoffset 1s ease;
}

.path-1{animation: animate-path1 1s 1s linear forwards;}
.path-2{animation: animate-path2 1s 1s linear forwards;}
.path-3{animation: animate-path3 1s 1s linear forwards;}
.path-4{animation: animate-path4 1s 1s linear forwards;}

@keyframes animate-path1
{
    100%{
        stroke-dashoffset: 52;
    }
}

@keyframes animate-path2
{
    100%{
        stroke-dashoffset: 75;
    }
}

@keyframes animate-path3
{
    100%{
        stroke-dashoffset: 120;
    }
}

@keyframes animate-path4
{
    100%{
        stroke-dashoffset: 105;
    }
}

.radial-bar .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.7rem;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
    font-weight: bold;
    font-size: large;
}

.radial-bar .text {
    position: absolute;
    text-align: center;
    bottom: -3rem; 
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.7rem;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
    font-weight: bold;
    font-size: large;
}

@keyframes showText {
    100% {
        opacity: 1;
    }
}

/* css of my education section */

#education {
    width: 110rem;
    height: 60rem;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    margin-top: 10rem;
}

#education h2 {
    color: black;
    margin-bottom: 5rem;
    text-align:center;
    font-size: 5rem;
}

.contain {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width:80%;
    height: 80%;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}

.education-item {
    margin-bottom: 2rem;
    padding: 1.5rem;
    border-radius: 1rem;
    width: 80%;
    height: 25%;
    background-color: aliceblue;
    transition: transform 0.3s ease;
    box-shadow: 2rem 1rem 1rem rgba(0, 0, 0, 0.2);
}

.education-item:hover {
    transform: scale(1.05);
}

.education-item p {
    font-size:large;
}
.degree {
    color: #0066cc;
}

.school {
    font-weight: bold;
}

.date {
    color: #666;
}


/* css of my project section */

#projects {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2rem;
    height: 50rem;
    margin-top: 10rem;
}

#projects h2 {
    color: black;
    margin-bottom: 3rem;
    text-align:center;
    font-size: 5rem;
}

.pro {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project{
    width: 40%;
    height: 90%;
    background-color:cornsilk;
    margin: auto;
    padding: 1rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: transform 0.3s ease;
    box-shadow: 2rem 1rem 1rem rgb(77, 74, 74);
}

.project:hover {
    transform: scale(1.05);
}

.project h3 {
    font-size:x-large;
    margin: 1rem;
}

.project p{
    margin: 1rem;
    font-size:medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.project img{
    margin: auto;
    height: 15%;
    width: fit-content;
    border-radius: 2rem;
    box-shadow: 2rem 1rem 1rem rgb(77, 74, 74);
}

/* css for my resume section */

#resume{
    height: 120rem;
    width: 100%;
    margin-top: 13rem;
}

.pdf {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:beige;
    border-radius: 2rem;
    height: 100%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.pdf h2 {
    color: black;
    margin-bottom: 6rem;
    text-align:center;
    font-size: 5rem;
}

.pdf embed{
    box-shadow: 2rem 1rem 1rem rgb(77, 74, 74);
}

/* css for my contact section */

#contact {
    width: 80%;
    height: 70rem;
    background-color: aqua;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
    padding: 2rem;
}

#contact h2 {
    color: black;
    margin-bottom: 6rem;
    text-align:center;
    font-size: 5rem;
}

.conin {
    height: 12%;
    background-color: powderblue;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 2rem;
    box-shadow: 2rem 1rem 1rem rgb(77, 74, 74);
    display: flex;
    align-items: center;
    transition: transform 0.5s ease;
}

.conin:hover {
    transform: scale(1.05);
}

.conin p{
    font-size: 2.5rem;
    margin-left: 3rem;
}
.conin img {
    height: 100%;
    width:auto;
    border-radius: 2rem;
}
.conin p a {
    text-decoration: none;
}

/* css for my footer */

footer {
    background-color: #7B66FF;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* css for responsiveness */

@media(max-width:998px){
    html {
        font-size: 55%;
    }

    .edu {
        height: 120rem;
        flex-direction:column;
        align-items: center;
    }

    #about img {
        margin-bottom: 5rem;
        margin-right: 0;
    }

    .container{
        margin-top: 5rem;
        margin-left: 0;
    }
    #education {
        height: 70rem;
    }
    #projects {
        height: 80rem;
    }
}

@media(max-width:768px) {
    html {
        font-size: 45%;
    }
    #education {
        height: 80rem;
    }
    #projects {
        height: 150rem;
    }
    .pro {
        flex-direction: column;
        height: 90%;
    }
    .project {
        width: 80%;
        height: 35%;
    }
    .hide {
        display: none;
    }
}

@media(max-width: 500px) {
    html {
        font-size: 35%;
    }

    .box a{
        margin: 1rem;
    }
    .box .navcolor {
        margin: 1rem;
    }
    .head p {
        display: none;
    }
    #about img {
        width:24rem;
        height: auto;
    }
    #about img {
        width: 50rem;
    }
    .container{
        width: 55rem;
        height: 40rem;
    }
    #about{
        margin-left: auto;
        margin-right: auto;
    }
    .radial-bar .text{
        bottom: -8rem;
    }
    #education {
        width: 60rem;
        height: 100rem;
    }
    .contain{
        width:100%;
        height: 90%;
    }
    .education-item {
        height: 30%;
    }
    .education-item p {
        font-size: 2.5rem;
    }
}

@media(max-width: 500px) {
    #projects {
        height: 150rem;
    }
    .pro {
        flex-direction: column;
        height: 90%;
    }
    .project {
        width: 80%;
        height: 35%;
    }
    .hide {
        display: none;
    }
}

@media(max-width: 500px) {
    #resume {
        height: 80rem;
    }
    .pdf {
        height: 95%;
        width: 100%;
    }
    .pdf embed{
        height: 80%;
    }
    #contact {
        height: 80rem;
    }
    .conin {
        height: 15%;
    }
    .conin p {
        font-size: 2rem;
    }
    .email {
        display: none;
    }
}
